body {
  font-family: "Ubuntu";
}

.skills-logo {
  float: left;
  margin-right: .5rem;
}
.exp-logo {
  display: inline-block;
  margin-right: 1rem;
}

.exp-logo img {
  max-width: 10rem;
}

.exp-time {
  float: right;
  font-size: 1.6rem;
  margin-left: 1rem;
}

.exp-location {
  margin-top: 1em;
  font-weight: 500;
  font-size: 1.2em;
}

.exp-position {
  font-size: 1.2em;
}

ul.experience {
  padding-left: 0px;
}

ul.experience> li {
  margin-top: 1em;
  list-style: none;
  margin-bottom: 2em;
  padding-bottom: 1em;
  border-bottom: 3px dotted grey;
  padding-left: 0px;
}

.text-grey {
  color: #5d5d5d;
}
hr {
  border-bottom: 3px dotted grey;
}

.skills {
  padding-left: 0;
}
.skills li {
  min-height: 5rem;
}
li.odd, li.even {
  padding: 0.5em;
  list-style: none;
  margin: 3px 0px 3px 0px;
}

li.even {
  /* background-color: #b9b5ab; */
}

li.odd {
  /* background-color: #d0cbc0; */
}

li.odd:hover, li.even:hover {
  background-color: grey;
  color: white;
}

h3 {
  font-size: 1.73em;
}

h2 {
  font-size: 2em;
}

@media (max-width: 1028px) {
  body {
    font-size: 3rem;
  }
  h3 {
    margin: 5%
  }
  .exp-time {
    float: none;
    font-size: 1.1em;
    margin: 5% 2%;
  }

}
@media (min-width: 1029px) {
  body {
    font-size: 1.2rem;
  }
}
